/* ### PAGE CONTAINER ### */
.container {
    padding: 3.6rem 0rem 0rem 3rem;
}

/* ### PAGE HEADER AREA ### */
#page-header {
    width: 100%;
    height: 6rem;

    background-color: var(--page-header-background);
}

#page-title-container {
    width: 100%;
    height: 100%;
}

#page-title-container h1 {
    font-size: 3.5rem;
}

/* ### FIELDS AREA ### */
#fields-wrapper {

    width: 60rem;
    height: 7.5rem;

    padding: .4rem;

    margin-top: 2.6rem;

    display: flex;
    flex-direction: column;
}

.fields-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 44rem;
    height: 9em;

    margin-top: .6rem;
}

#fields-wrapper p {
    font-size: 1.8rem;
}

/* Text field wich is responsible for the user to insert the item name */
#itemName { 
    height: 100%;
    width: 30rem;

    border: .1rem solid grey;
    border-radius: .3rem;

    font-size: 1.6rem;
    font-weight: 300;

    padding-left: .6rem;
}

select {
    width: 8rem;
    height: 100%;

    font-size: 1.6rem;
    font-weight: 300;

    border-radius: .3rem;

    background-color: transparent;
}

/* ### BUTTON STYLING ### */
#button {
    background-color: var(--button-background);

    color: #FFF;

    font-weight: 500;
    font-size: 1.4rem;
    
    width: 15rem;
    height: 4rem;

    border: none;
    border-radius: .4rem;

    margin: 3rem 0rem 0rem .4rem;
}

#button:hover {
    background-color: #EC6E04;

    transition: .3s;

    cursor: pointer;
}


/* ### LIST OF ITEMS STYLING ### */
.shopping-result {
    max-width: 44.3rem;

    margin-top: 2rem;
}

.shopping-result-head,
.shopping-item {
    display: grid;
    grid-template-columns: 3fr 1fr;

    padding: 1rem;
}

.shopping-result-head {
    background-color: lightgrey;
}

.shopping-result-head strong {
    font-size: 1.5rem;
}

.shopping-item {
    list-style: none;
}

.shopping-item:nth-child(even) {
    background-color: lightgrey;
}

.shopping-item span {
    font-size: 1.4rem;
}