/* This file is responsible to contain the whole specificities related to the project, just as font things related, root CSS and everything else that is nedded in the project */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

:root {
    --page-header-background: #000;
    --button-background: #FF7D11;
}